@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

.login {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*------LOGIN-----*/

.login {
    background-image: url(./Icones/Login/background.png);
    background-color: white;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-site {
    height: 300px;
}

.divlogopti {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.logopti {
    height: 60px;
}

.section_login {
    background: white;
    min-width: 120px;
    min-height: 20vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.section_login h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

.section_login h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 69px;
    bottom: -5px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(100deg, #E84547, #F8D12B, #2359A6, #1FAC50);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #E84547, #F8D12B, #2359A6, #1FAC50);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus~.underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 1rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #2359A6, #3d77c9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #2359A6, #3d77c9);
}

.botao_enviar {
    text-align: center;
    text-decoration: none;
    margin-top: 1rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #2359A6, #3d77c9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.esquece-senha {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.esquece-senha span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.esquece-senha span a {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.checkbox {
    font-size: 14px;
    margin-top: 19px;
}

/*------ESQUECEU A SENHA-----*/

.section_esqueceu {
    background: white;
    min-width: 120px;
    min-height: 20vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.section_esqueceu h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

.section_esqueceu h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 295px;
    bottom: -5px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(100deg, #E84547, #F8D12B, #2359A6, #1FAC50);
}


/*------CONFIRME O CODIGO-----*/

.section_confirma {
    background: white;
    min-width: 120px;
    min-height: 20vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.section_confirma h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

.section_confirma h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 295px;
    bottom: -5px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(100deg, #E84547, #F8D12B, #2359A6, #1FAC50);
}


/*------ESTRUTURA Páginas-----*/


:root {
    --cor-nav: #2359a6
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90px;
    display: flex;
    justify-content: center;
    background-color: #2359A6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

nav li {
    justify-content: center;
    align-items: center;

}

.spam-menu {
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.span-menu {
    text-align: center;
}

nav a {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.span-menu {
    color: #fff;
}

.card {
    padding: 10px 20px 10px 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

header {
    margin-left: 90px;
    height: 8vh;
    background-color: var(--cor-nav);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header input {
    margin-left: 10px;
    height: 40px;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    background-color: #d9d9d9;
}

.header-left button {
    height: 40px;
    width: 50px;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.header-icones img {
    margin-right: 25px;
}

.header-left {
    display: flex;
    height: 2.5rem;
    width: 19.75rem;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    background-color: #d9d9d9;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E1E1E1;
    font-size: 20px;
    height: 50px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}

/*-------Formatação botoes-----*/
button {
    background-color: E1E1E1;
    width: 123px;
    height: 44px;
    color: var(--cor-primaria);
    font-family: 'ABeeZee', sans-serif;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 6px;
    font-weight: bold;
}

/*-------Formatação Tabela-----*/
.table-content {
    border-collapse: collapse;
    margin: 0 0 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-content thead tr {
    background-color: #122f57;
    color: white;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.table-content th,
.table-content td {
    padding: 12px 75px;
}

.table-content tbody tr {
    border-bottom: 1px solid black;
    background-color: #BBBBBB;
}

.table-content tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.container {
    padding-top: 7%;
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Estrutura {
    background-image: url(./Icones/Login/background.png);
}

/*ADMIN*/
/*-------Home-------------------------*/

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 25rem;
    width: 20rem;
    padding-top: 1rem;
    border-radius: 10px;
    background-color:#dddcdc;
}

.conteiner-cards {
    display: flex;
    justify-content: space-evenly;
    padding-left: 5.5rem;
    padding-top: 17vh;
}

.home-detail {
    background-color: black;
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.cards h1 {
    color: black;
    font-size: 96px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}

.home-t1 {
    color: black;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}


/*--------CONTAINER_Solicitações--------*/


.botoes_solicitacoes {
    margin-left: 900px;
    flex-direction: row;
    justify-content: right;
}

/*--------CONTAINER_Usuarios--------*/

.container {
    padding-left: 85px;
}

.botoes_usuarios {
    padding-left: 1200px;
}

/*--------CONTAINER_Estoque_Cadastro--------*/

.botoes-itens-cadastrados {
    display: flex;
    flex-direction: row;
    padding-right: 1100px;
    gap: 6px;
}

.botoes-superiores-estoque {
    border-radius: 0px;
}

.botoes-superiores-estoque h4 {
    border-radius: 0px;
    color: black;
}

/*--------CONTAINER_Estoque_USO--------*/

#table-content-estoque {
    width: 20vw;
}

#botoes_estoque_uso {
    padding-right: 1478px;
}

#container_estoque {
    padding-top: 90px;
}

/*ADMIN*/

/*USUARIO*/

/*--------Home--------*/

/*--------Estoque--------*/
.botoes-superioes-estoque-usuario {
    padding-left: 354px;
}

/*------Estoque Calendario-------*/


.calendario {
    background-color: rgb(255, 255, 255);
}



.vazio {
    background-color: #00000033;
}

.dia1,
.dia2,
.dia3,
.dia7,
.dia8,
.dia9,
.dia10,
.dia11,
.dia12,
.dia13,
.dia14,
.dia15,
.dia16,
.dia17,
.dia18,
.dia19,
.dia20,
.dia21,
.dia22,
.dia23,
.dia24,
.dia25,
.dia26,
.dia27,
.dia28,
.dia29,
.dia30,
.dia31 {
    background-color: rgba(51, 255, 0, 0.214);
}

.dia4,
.dia5,
.dia6 {
    background-color: rgba(255, 0, 0, 0.423);
}

.calendario th,
.calendario td {
    font-size: 15px;
    padding: 8px;
    text-align: center;
}

.calendario td {
    font-size: 25px;
    height: 80px;
    width: 120px;
}

#botoes_estoque_usuario_calendario {
    margin-top: 20px;
    padding-right: 295px;
}

#botoes_estoque_usuario button {
    color: black;
}

.icon {
    font-size: 24px;
    transition: color 0.3s;
    cursor: pointer;
}

.icon:hover {
    color: blue;
}

