*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --cor-nav:#2359a6
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90px;
    display: flex;
    justify-content: center;
    background-color: #2359A6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

nav li{
    justify-content: center;
    align-items: center;

}

.spam-menu{
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.span-menu{
    text-align: center;
}

nav a{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.span-menu{
    color: #fff;
}

.card{
    padding:10px 20px 10px 20px; 
    background-color: #d9d9d9;
    border-radius: 10px;
}

header{
    margin-left: 90px;
    height: 80px;
    background-color: var(--cor-nav);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header input{
    margin-left: 10px;
    height: 40px;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
    font-size:20px ;
    background-color: #d9d9d9;
}

.header-left button{
    height: 40px;
    width: 50px;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.header-icones img{
    margin-right: 25px;
}

.header-left{
    display: flex;
    height: 40px;
    width: 316px;
    border-radius: 10px 10px 10px 10px;
    font-size:20px ;
    background-color: #d9d9d9;
}

#tela-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E1E1E1;
    font-size: 15px;
    height: 50px;
}

#tela-inicial h1{
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}

.card-container{
    background-color: #D9D9D9;
}
