* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --cor-nav: #2359a6
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90px;
    display: flex;
    justify-content: center;
    background-color: #2359A6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

nav li {
    justify-content: center;
    align-items: center;

}

.spam-menu {
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.span-menu {
    text-align: center;
}

nav a {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.span-menu {
    color: #fff;
}

.card {
    padding: 10px 20px 10px 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

header {
    margin-left: 90px;
    height: 8vh;
    background-color: var(--cor-nav);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header input {
    margin-left: 10px;
    height: 40px;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    background-color: #d9d9d9;
}

.header-left button {
    height: 40px;
    width: 50px;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.header-icones img {
    margin-right: 25px;

}

.reduser {
    padding: 10px 20px 10px 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    display: inline-block;
    border: 3px solid red;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-left {
    display: flex;
    height: 40px;
    width: 316px;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    background-color: #d9d9d9;
}

.itens-cadastrados {
    background-color: #E1E1E1;
    width: 168px;
    height: 56px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.texto-estoque {
    display: flex;
    margin-bottom: 81px;
    background-color: #E1E1E1;
    width: 100vw;
    height: 44px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.texto-estoque h1 {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}



#tela-inicial {
    font-family: ABeeZee;
    display: flex;
    align-items: center;
    background-color: #A6B4C7;
    font-size: 15px;
    height: 92vh;
    flex-direction: column;
}

.newuser {
    display: flex;
    justify-content: right;

}

#tela-inicial h1 {
    font-size: 17px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}

.card-container {
    background-color: #D9D9D9;
}

.table-content {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 17px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-content thead tr {
    background-color: #BBBBBB;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.table-content th,
.table-content td {
    padding: 12px 15px;
}

.table-content tbody tr {
    background-color: #BBBBBB;
    border-bottom: 1px solid black;
}

.table-content tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}