*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --cor-nav:#2359a6
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90px;
    display: flex;
    justify-content: center;
    background-color: #2359A6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

nav li{
    justify-content: center;
    align-items: center;

}

.spam-menu{
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.span-menu{
    text-align: center;
}

nav a{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.span-menu{
    color: #fff;
}

.card{
    padding:10px 20px 10px 20px; 
    background-color: #d9d9d9;
    border-radius: 10px;
}

header{
    margin-left: 90px;
    height: 8vh;
    background-color: var(--cor-nav);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header input{
    margin-left: 10px;
    height: 40px;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
    font-size:20px ;
    background-color: #d9d9d9;
}

.header-left button{
    height: 40px;
    width: 50px;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.header-icones img{
    margin-right: 25px;
}

.header-left{
    display: flex;
    height: 2.5rem;
    width: 19.75rem;
    border-radius: 10px 10px 10px 10px;
    font-size:20px ;
    background-color: #d9d9d9;
}

.home-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E1E1E1;
    font-size: 20px;
    height: 50px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}


.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 25rem;
    width: 20rem;
    padding-top: 1rem;
    border-radius: 10px;
    background-color: #2359A6;
}

.conteiner-cards{
    display: flex;
    justify-content: space-evenly;
    padding-left: 5.5rem;
    padding-top: 17vh;

}

.home-detail{
    background-color: #ffffff;
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 20px;
}

.cards h1{
    color: #fff;
    font-size: 96px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}

.home-t1{
    color: #fff;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}

body{
    
    background-color: #ACB9CC;
}

#tela-inicial{
    height: 92vh;
}